<div class="alert alert-warning" id="list-id-<%= list.id %>">
	<%= link_to list_path(list) do %>
		<h3><%= list.name %></h3>
		<small><%= time_ago_in_words list.created_at %> ago</small>
	<% end %>
	<%= remove_list(list) %>
	<%= bookmark(list) %>
</div>

